<div>
  <div>
    <button mat-button (click)="createUser()">Create user</button>
    <app-users-list
      [users]="users$ | async"
      (afterUserSelected)="onSelectedUserChange($event)">
    </app-users-list>
  </div>

  <div class="user-details-containers">
    <div class="user-details">
      <app-user-details [userDetails]="userDetails$ | async"></app-user-details>
    </div>
    <div class="user-details-roles">
      <mat-card>
        <mat-card-header>
          <h2>User roles</h2>
        </mat-card-header>
        <mat-card-content>
          <app-roles-list [roles]="userRoles$ | async"></app-roles-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>
