.user-details-containers {
  margin-top: 10vh;
  display: flex;
  gap: 30px 30px;
}

.user-details-roles {
  width: 50%;
}

.user-details {
  width: 50%;
}

.mat-card-header {
  margin-bottom: 20px
}

.user-actions {
  display: flex;
  justify-content: start;
  gap: 10px 10px;
  margin-bottom: 5vh;
}
