<div>
  <mat-card>
    <mat-card-header>
      <h1>User: {{userDetails?.username}}</h1>
    </mat-card-header>
    <mat-card-content class="details-container">
      <div class="details-item">Email: {{userDetails?.email}}</div>
      <div class="details-item">First name: {{userDetails?.firstName}}</div>
      <div class="details-item">Last name: {{userDetails?.lastName}}</div>
      <div class="details-item">Created by: {{userDetails?.createdBy}}</div>
      <div class="details-item">Created at: {{userDetails?.createdAt | date: 'yyyy-MM-dd h:mm'}}</div>

    </mat-card-content>
  </mat-card>
</div>
