<div cdkDropListGroup>
  <div class="example-container">
    <h2>Available roles</h2>

    <div
      cdkDropList
      [cdkDropListData]="availableRoles"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of availableRoles" cdkDrag>
        {{item.name}}
      </div>
    </div>
  </div>

  <div class="example-container">
    <h2>Chosen roles</h2>

    <div
      cdkDropList
      [cdkDropListData]="chosenRoles"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of chosenRoles" cdkDrag>{{item.name}}</div>
    </div>
  </div>
</div>
