<div [formGroup]="form">

  <div class="form-input-m7vh">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" >
    </mat-form-field>
    <app-control-errors
      [control]="usernameControl"
      [controlErrorConfig]="usernameErrorConfig">
    </app-control-errors>
  </div>

  <div class="form-input-m7vh">
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" >
    </mat-form-field>
    <app-control-errors
      [control]="passwordControl"
      [controlErrorConfig]="passwordErrorConfig">
    </app-control-errors>
  </div>

</div>
