<div>
  <mat-stepper #createUserStepper>
    <mat-step [stepControl]="basicInformationFormGroup">
      <ng-template matStepLabel>Basic information</ng-template>
      <div class="create-user-container">
         <app-basic-user-information [form]="basicInformationFormGroup"></app-basic-user-information>
      </div>
      <div class="button-container">
        <button mat-raised-button matStepperNext [disabled]="!(basicInformationFormGroupValid$ | async)">Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Additional information</ng-template>
      <div class="create-user-container">
        <app-additional-user-information [form]="additionalInformationFormGroup"></app-additional-user-information>
      </div>
      <div class="button-container">
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext [disabled]="!(additionalInformationFormGroupValid$ | async)">Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Privileges</ng-template>
      <div class="create-user-container">
        <app-add-user-roles [form]="userRolesFormGroup"></app-add-user-roles>
      </div>
      <div class="button-container">
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext [disabled]="!(additionalInformationFormGroupValid$ | async)">Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Summary</ng-template>
      <div class="create-user-container">
        todo
      </div>
      <div class="button-container">
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button (click)="save()">Save</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>

